* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(100deg, #fcfcfc, #a8afb9); */
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}